body {
  color: #1f1e1e;
  display: block;
  justify-content: center;
  background-size: contain;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 10px;
}
.header {
  text-align: center;
  margin-bottom: 1.5rem;
}
#output {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 3px;
}
h1 {
  font-family: "Beau Rivage", cursive;
}
h4 {
  font-family: "Grape Nuts", cursive;
  word-spacing: 5px;
}
.container {
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
label {
  cursor: pointer;
  transition: 0.4s;
}
input {
  display: none;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#output {
  width: 50%;
  align-self: center;
}
.footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #000;
  color: #fff;
  opacity: 0.65;
}
@media (max-width: 760px) {
  .container {
    display: block;
  }
  #output {
    width: 90%;
  }
}
.alert {
  background-color: red;
  opacity: 0.5;
  color: white;
  display: none;
}
