.section {
  color: purple;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #eec0c6 74%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media (max-width: 699) {
  .section {
    width: 90%;
  }
}
